<div class="d-flex flex-column justify-content-center heigh-main">
    <div class="container">
        <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tasks</th>
            </tr>
        </thead>
        <tbody>
            {{#each processTask as | task |}}
                <tr>
                    <th scope="row">{{task.id}}</th>
                    <td>{{task.value}}</td>
                </tr>
            {{/each}}
        </tbody>
        </table>
    </div>
</div>